.headerImage {
  height: 60vh;
  width: 100%;
  background-image: url(../public/images/landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.section {
  text-align: center;
  border-radius: 15px;
  max-width: 600px;
  margin: 3rem;
}

.section form {
  padding-top: 3rem;
  width: 100%;
}

.headerImage h1 {
  text-align: center;
  color: var(--red);
  font-size: 60px;
  text-transform: uppercase;
}

.heading {
  font-size: 3rem;
  color: black;
}

.divider {
  width: 75%;
  margin: auto;
  border: 1px solid var(--red);
}

@media screen and (max-width: 900px) {
  .headerImage {
    display: none;
  }
}
